*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
html , body{
    height: 100%;
    width: 100%;
    
}

body{
    background-color: #111;
    padding: 20px;
}

#box{
    width: 100px;
    height: 100px;
    background-color: cadetblue;
    border-radius: 16px;
    position: relative;
    animation-name: rotateMoveCirculer;
    animation-duration: 4s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}

@keyframes rotateMoveCirculer {
    0%{
        left: 0;
        top:0;
        
    }25%{
        left: 80%;
        top: 0;
        background-color: #fff;
    }75%{
        left: 80%;
        top: 50%;
        background-color: crimson;
    }100%{
        left:0;
        top:50%;
        rotate: 360deg;
    }
}